.container {
    height: 150vh;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: 500;
  }
  
  .btn {
    padding: 10px;
  }
  
  .text-danger {
    font-size: 14px;
  }
  